body .cargo {
    background-image: url(/images/XXL.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    height: 100vh;
}

body {
    background-color: #e61111;
}

.ul-6li {
    background-color: white;
    width: 100%;
    background-size: cover;
}

.ul-6li .search {
 border-radius: 0.4rem;
 outline: none;
}

.ul-6li .olti-li {
    padding: 1rem;
}

.olti-li li {
    margin-right: 1rem;
}

.fraza {
    width: 30%;
}

.fraza a {
    color: rgb(206, 198, 243);
}

.know-more {
    padding: .5rem;
    background-color: yellowgreen;
    width: 30%;
}

.know-more a {
    text-decoration: none;
    color: white;
}

.absolute {
    position: absolute;
    left: 10rem;
    top: 10rem;
}

.what .what-we-do {
    color: blue;
}

.div {
    width: 100%;
    height: 50vh;
}

.two-div {
    width: 65%;
    display: flex;
    margin-left: 9rem;
}

.ul-6li .fa-bars {
    display: none;
}

@media (max-width: 576px) {
    .ul-6li .dis-none {
        display: none;
    }
    .ul-6li .fa-bars {
        display: inline;
        color: mediumblue;
    }
    .absolute {
        width: 100%;
        position: absolute; 
        left: 0rem;
        background-color: blue; 
        top: 12rem;
    }

    .fraza a
     {
        color: white;
    }

    .fraza {
        width: 55%;
        margin-left: 2rem;
    }

    .know-more {
       margin-left: 2rem;
       padding: 0.5rem;
       margin-bottom: 0.8rem;
       width: 50%;
    }

    .three-div {
        flex-direction: column;
        width: 100%;
    }

    .two-div {
        flex-direction: column;
        width: 100%;
        margin-left: 0rem;
    }

    .first-div3tali {
        flex-direction: column;
        width: 100%;
    }

    .first-div3tali .retail-banks {
        margin: 0rem;
        padding: 0rem;
        width: 40%;
        /* background-position: center; */
        background-size: cover;
        background-repeat: no-repeat;
         /* position: relative; */
         order: 1;
    }

    .first-div3tali .schools {
        margin: 0rem;
        padding: 0rem;
        width: 40%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
         position: relative;
         order: 3;
    }

    .first-div3tali .residential-areas {
        margin: 0rem;
        padding: 0rem;
        width: 40%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        order: 2;
    }


    
}

.retail-banks {
    background: linear-gradient( rgba(99, 91, 209, 0.8), rgba(99, 91, 209, 0.8)), url(/images/AIK-Banka-filijala-Grawe-karticarstvo-brendirano.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 15%;
    position: relative;
    height: 20vh;
}
 
.schools {
    background: linear-gradient( rgba(99, 91, 209, 0.8), rgba(99, 91, 209, 0.8)), url(/images/scale_1200.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 15%;
    position: relative;
    height: 20vh;

}

.residential-areas {
    background: linear-gradient( rgba(99, 91, 209, 0.8), rgba(99, 91, 209, 0.8)), url(/images/residential\ areas);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 15%;
    position: relative;
    height: 20vh;
}

.strong {
    color: blue;
}

.offices {
    background: linear-gradient( rgba(131, 179, 105, 0.8), rgba(134, 172, 113, 0.8)), url(/images/office);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 15%;
    position: relative;
    height: 20vh;
}

.supermarket {
    background: linear-gradient( rgba(131, 179, 105, 0.8), rgba(134, 172, 113, 0.8)), url(/images/supermaket);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 15%;
    position: relative;
    height: 20vh;
}

.retail-chain-stores {
    
    background-position: center;
    background: linear-gradient(rgba(131, 179, 105, 0.8), rgba(134, 172, 113, 0.8)), url(/images/retail\ stores);
    background-size: cover;
    background-repeat: no-repeat;
    width: 15%;
    position: relative;
    height: 20vh;
}

.first-div3tali {
    margin-left: 5.3rem;
}

.second-div3tali {
    margin-right: 5.3rem;
    margin-bottom: 0px;
}

.avto {
 background-image: url(/images/4096x2811_1018033_[www.ArtFile.ru].jpg);
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
 width: 23%;
 height: 28vh;
 left: 0rem;
 position: absolute;
 bottom: 33rem;
}

.div-footer {
    position: relative;
    background-color: #002F86;
    top: 0rem;
}

.div-footer a {
    color: rgb(223, 219, 219);
    text-decoration: none;
}

.div-footer p a {
    font-size: 0.8rem;
}

.div-footer h5 a{
    color: white;
}

.border-b {
    border-top: 2px solid white;
    width: 81%;
    margin-left: 6.5rem;
}

.part-footer {
    padding: 3rem;
}

body .logistic-services {
    background: linear-gradient(rgba(97, 97, 124, 0.8), rgba(79, 79, 223, 0.6)), url(/images/services\ what\ we\ offer.jpg); 
    background-repeat: no-repeat;
    width: 100%;
    height: 60vh;
    margin-top: 5rem;
}

.for-all {
    
      position: relative;
}

.retail-button {
    background-color: #012D86;
    width: 15%;
    position: absolute;
    left: 24rem;
    font-weight: 700;
    z-index: 1;
    top: 1.5rem;
}

.for-all .div-shadow {
    background-color: white;
    width: 14%;
    position: absolute;
    left: 25.6rem;
    border: 2px solid  rgb(166, 166, 196);
    top: 2.3rem;
    height: 7vh;
}

.fin-logist {
    background-color: #012D86;
    width: 15%;
    position: absolute;
    left: 4rem;
    font-weight: 700;
    z-index: 1;
    top: 0.5rem;
}

.fin .div-shadow {
    background-color: white;
    width: 14%;
    position: absolute;
    left: 3.3rem;
    border: 2px solid  rgb(166, 166, 196);
    top: 1.2rem;
    height: 7vh;
}

.fin {
    position: relative;
}

.fin-log-div {
    width: 100%;
}

.fin ul {
    width: 39%;
}

.border-fin {
    margin-left: 2rem;
    height: 120vh;
}

.four-div {
    position: relative;
}

.zhong {
    position: absolute;
    top: 1.7rem;
    transform: rotate(-12deg);
    left: 1.7rem;
    width: 50%;
    border: 1px solid rgb(236, 232, 232);
}

.china-literature {
    position: absolute;
    top: 1.8rem;
    z-index: 1;
    left: 7.5rem;
    width: 45%;
    height: 14rem;
    transform: rotate(-5deg);
}

.china {
    width: 15%;
    height: 42vh;
    position: absolute;
    top: 2.8rem;
    left: 20rem;
    border: 1px solid rgb(197, 190, 190);
    z-index: 1;
    transform: rotate(-9deg);
}

.hsbc {
    width: 60%;
    margin-top: 18rem;
    z-index: 0;
}

.for-all .div-shad-ow {
    background-color: white;
    width: 17%;
    position: absolute;
    left: 31.6rem;
    border: 2px solid  rgb(166, 166, 196);
    top: 2.3rem;
    height: 7vh;
}

.retail-but-ton {
    background-color: #012D86;
    width: 18%;
    position: absolute;
    left: 30rem;
    font-weight: 700;
    z-index: 1;
    top: 1.5rem;
}

.border-finance {
    margin-left: 2rem;
    height: 80vh;
    margin-top: 0px;
}

.contract-logist {
    background-color: #012D86;
    width: 15%;
    position: absolute;
    left: 4rem;
    font-weight: 700;
    z-index: 1;
    top: 0.5rem;
}

.finance .div-shadow {
    background-color: white;
    width: 14%;
    position: absolute;
    left: 3.3rem;
    border: 2px solid  rgb(166, 166, 196);
    top: 1.2rem;
    height: 7vh;
}

.finance {
    position: relative;
}

.rebus {
    height: 50vh;
}

body .logistic-services-clients {
    background: linear-gradient(rgba(97, 97, 124, 0.8), rgba(79, 79, 223, 0.6)), url(/images/client.jpg); 
    background-repeat: no-repeat;
    width: 100%;
    height: 70vh;
    margin-top: 5rem;
    background-size: cover;
    
}

.bowne,
.equity,
.parkn-shop
 {
    width: 20%;
}

.great-food,
.SNP,
.lam-soon,
.unilever,
.gp-batteries,
.fourseas,
.rr-don,
.loreal
 {
    width: 25%;
}

.background {
    background-color: white;
    padding: 1rem;
    box-shadow: 1px 3px rgb(229, 226, 226) ;
}

.last-12div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #F2F2F2;
    grid-gap: 2rem;
    padding: 3rem;
}

.back-view {
    width: 100%;
}

.green {
    margin-top: 3rem;
    border-left: 22px solid #79BC1E;
    border-top: 25px solid white;
    transform: rotate(69deg);
    width: 1rem;
}

.contact-logist {
    background-color: #012D86;
    width: 25%;
    font-weight: 700;
}

.border-green {
    margin-top: 1.5rem;
    border-left: 30px solid #00a727;
    border-top: 27px solid white;
    transform: rotate(145deg);
    width: 5rem;
    margin-left: 30rem;
}

.border-gree {
    margin-top: 2rem;
    border-left: 55px solid #79BC1E;
    border-top: 52px solid white;
    transform: rotate(72deg);
    width: 5rem;
    margin-left: 20rem;
}

.border-gr {
    /* margin-bottom: 10rem; */
    border-left: 30px solid #79BC1E;
    border-top: 27px solid rgb(252, 250, 250);
    transform: rotate(118deg);
    width: 1rem;
    left: 7rem;
    position: absolute;
    top: 20rem;
}

.col-5 {
    position: relative;
}


* {
   /* border: 2px solid green; */
}